{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis debitis sed quaerat, cum odit molestiae repudiandae libero doloribus esse velit suscipit sunt eius quasi sint sapiente labore repellat at vitae pariatur error. Vitae deleniti sunt a laborum? Neque recusandae nemo sunt ut. Nesciunt deserunt optio impedit aliquam alias nostrum magni vitae perferendis vel, laudantium iste error maxime ipsa assumenda doloremque sit. Necessitatibus, quia. Est cupiditate, blanditiis explicabo cumque velit sit fugiat doloremque maxime ipsa. Iure cupiditate nostrum asperiores ea placeat excepturi accusantium ab ratione quidem aliquid accusamus, odio pariatur praesentium nesciunt inventore, in modi culpa recusandae quos? Minima, deserunt officiis?</p>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>

</main>

{% endblock %}